html{
overflow:hidden;
}

body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#b6d4ff;
font-family:Arial;
}

.contenedor{
position:relative;
display:flex;
flex-direction:column;
align-items:center;
}

/* texto */
.happy-birthday{
position:absolute;
top:-120px;
font-family:'Pacifico',cursive;
font-size:58px;
color:#2e2eff;
z-index:5;
}

/* objetos arriba de la mesa */
.escena{
width:1000px;
display:flex;
justify-content:space-evenly;
align-items:flex-end;
z-index:2;
}

/* mesa */
.mesa{
width:1050px;
height:28px;
background:#555;
border-radius:30px;
margin-top:10px;
z-index:1;
}

.pata{
width:120px;
height:320px;
background:#555;
margin-top:-2px;
}

/* retratos */
.portaretrato{
display:flex;
flex-direction:column;
align-items:center;
}

.marco{
width:70px;
height:70px;
padding:5px;
background:#bb7d4e;
border:5px solid #8a5e3c;
}

.marco img{
width:100%;
height:100%;
object-fit:cover;
}

.soporte-marco{
width:50px;
height:15px;
background:#8a5e3c;
}

/* regalos */
.caja-wrapper{
transform:scale(.8);
cursor:pointer;
}

.regalos{
width:120px;
height:80px;
background:#fff;
border-radius:12px;
position:relative;
}

.regalo{
width:130px;
height:30px;
background:#eee;
border-radius:10px;
margin-bottom:-5px;
}

/* torta */
.torta-cumpleaños{
position:relative;
width:240px;
height:220px;
}

.torta{
position:absolute;
bottom:0;
width:240px;
height:120px;
background:#ffe1b8;
border-radius:25px 25px 0 0;
}

.vela{
position:absolute;
bottom:120px;
left:112px;
width:15px;
height:65px;
background:#fff;
}

.llama{
position:absolute;
bottom:185px;
left:107px;
width:25px;
height:35px;
border-radius:50%;
background:orange;
cursor:pointer;
}

/* modales */
.modal-carta{
position:fixed;
inset:0;
background:rgba(0,0,0,.8);
display:flex;
justify-content:center;
align-items:center;
opacity:0;
pointer-events:none;
transition:.3s;
z-index:999;
}

.modal-carta.activo{
opacity:1;
pointer-events:auto;
}

.carta{
background:#fff0f5;
padding:30px;
border-radius:14px;
width:420px;
max-width:80%;
text-align:center;
}

.overlay{
position:fixed;
inset:0;
background:#000;
z-index:998;
transition:1s;
}

.overlay.hidden{
opacity:0;
pointer-events:none;
}
